// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;
$color-primary: #777;
$color-secondary: #58e1c1;
$color-link: #51ddfc;

// Fonts
$font-primary: "Lato", sans-serif;

$button-colors: (
  "btn-default": #51ddfc,
  "btn-success": #63cc82,
  "btn-error": #e4757a,
  "btn-warning": #fd7856,
  "btn-info": #927bc1
);

// BreakPoint
$break-m: 768px;
